/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* custom styles */
.flex-sub {
  display: flex;
  justify-content: left;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 32px;
}
.flex {
  display: flex;
  justify-content: space-evenly;
}
.header {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 30px;
}
h1 {
  font-size: 20px;
  font-weight: 800;
  color: white;
  margin-left: 20px;
}
.nav a {
  text-decoration: none;
  margin-left: 32px;
  color: white;
}
.nav-fab a {
  margin-left: 20px;
  color: white;
}
.button {
  background-color: red;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 26px;
}
.section-1 {
  height: 800px;
  padding-top: 36px;
  /* background-image: linear-gradient(to left, rgba(125,239,102,0.7), rgba(17,119,229,0.7), url(assets/home-bg.jpg), 50% 50%, no-repeat); */
  background-image: linear-gradient(
      to left,
      rgba(125, 239, 102, 0.7),
      rgba(17, 119, 229, 0.7)
    ),
    url(assets/home-bg.jpg);
  display: flex;
  justify-content: space-evenly;
}
.big-box-1 {
  height: 450px;
  width: 1000px;
  display: flex;
  justify-content: space-between;
}
.small-box-1 {
  height: 380px;
  width: 400px;
  margin-top: 200px;
}
h2 {
  font-size: 40px;
  font-weight: 800;
  color: white;
}
.small-box-2 {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.number {
  font-size: 15px;
}
.button-1 {
  padding: 10px 20px;
  border-radius: 40px;
  color: white;
  text-align: center;
  background-color: transparent;
  border: 1px solid white;
  margin-bottom: 25px;
  margin-right: 20px;
  height: 40px;
  width: 140px;
}
.video {
  margin-top: 150px;
  margin-left: 40px;
}
/* progressbar */
.big-box-2 {
  margin-top: 10%;
}
.man-pic img {
  height: 300px;
  width: 300px;
}
.box-1 {
  height: 390px;
  width: 300px;
}
.box-2 {
  height: 390px;
  width: 200px;
}
.progressive-bar {
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
}
.bar-1 {
  width: 85%;
  height: 1px;
  border-top: 4px solid black;
  margin-top: 10px;
}
.bar-2 {
  width: 90%;
  height: 1px;
  border-top: 4px solid black;
  margin-top: 10px;
}
.bar-3 {
  width: 75%;
  height: 1px;
  border-top: 4px solid black;
  margin-top: 10px;
}
.bar-4 {
  width: 70%;
  height: 1px;
  border-top: 4px solid black;
  margin-top: 10px;
}
h3 {
  font-size: 30px;
  margin-bottom: 10px;
}
.big-box-2-p {
  line-height: 1.5;
  color: grey;
}
hr {
  width: 20px;
  border: 4px dotted grey;
  margin-left: 20px;
}
/* our blogs */
.section-3 {
  background-color: #efefef;
}
.h4 {
  text-align: center;
  /* margin-top: 5%; */
  font-size: 30px;
}
.blog-box-1 {
  display: flex;
  justify-content: space-between;
  /* margin: 40px 0; */
}
.blog-img img {
  height: 300px;
}
.blog-img {
  margin-right: 40px;
}
.blog-content {
  /* margin-right: 40px; */
  margin: 40px 40p 0 40px;
}
.blog-upper-box {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.clock {
  color: red;
  font-size: 10px;
  margin-right: 5px;
  margin-top: 30px;
}
.date {
  font-size: 10px;
  color: red;
  margin-top: 30px;
}
.blog-btn {
  background-color: #9c9a9a;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  /* margin-top: 80px; */
  margin-left: 20px;
}
.blog-h3 {
  margin-top: 20px;
}
.blog-p {
  font-size: 15px;
  margin-top: 30px;
  color: grey;
  line-height: 1.5;
  margin-bottom: 20px;
}
/* our work */
h5 {
  font-size: 30px;
  text-align: center;
  margin-top: 40px;
}
.work-img img {
  height: 200px;
  width: 80%;
}
.work {
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.box {
  height: 200px;
  width: 35%;
  margin-top: 60px;
}
.section-5 {
  height: 400px;
  width: 100%;
  /* border: 2px solid black; */
  background-image: linear-gradient(
    to left,
    rgba(125, 239, 102, 0.7),
    rgba(17, 119, 229, 0.7)
  );
}
h6 {
  font-size: 25px;
  text-align: center;
  margin-top: 20px;
  color: white;
}
.blanks {
  margin-top: 5%;
  margin-left: 2.5%;
}
.name {
  width: 46%;
  height: 50px;
  border-style: none;
  margin-bottom: 10px;
  margin-left: 19px;
  padding: 0 8px;
  border-radius: 7px;
  font-size: 14px;
}
.your {
  width: 47%;
  height: 90px;
  border-radius: 7px;
  margin: 7px;
  border: grey;
}
.blank-btn {
  background-color: red;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 26px;
  margin-left: 10%;
  margin-top: 5px;
}
.map {
  /* display: flex; */
  margin-right: 2.5%;
  margin-top: 5%;
}
.google-map {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  /* align-self: flex-right; */
}
.felx-1 {
  display: flex;
  justify-content: space-between;
}
.form {
  width: 65%;
  margin: 0 auto;
}
/* footer */
.f-b-1 {
  width: 35%;
  margin-top: 5%;
}
.footer {
  background-color: rgba(0, 0, 0, 0.712);
  height: 350px;
  /* border: 2px solid red; */
}
.f-p {
  font-size: 15px;
  color: #9c9a9a;
  line-height: 1.5;
}
.footer-upper {
  /* margin-top: 5%; */
}
.f-b-2 {
  margin-top: 5%;
}
.fp {
  margin-top: 40px;
}
small {
  color: white;
  margin-top: 40px;
}
.call {
  color: white;
  margin-top: 30px;
}
.icon a {
  color: white;
  margin-left: 24px;
  margin-top: 20px;
}
.small {
  margin-top: 30px;
}
.icon {
  margin-top: 30px;
}
